add-book-modal
{
    .searchbar-input{
        height: 50px !important;
        line-height: 50px !important;
        color: darkblue !important;
    }

    .searchbar-search-icon{
        background-size: 25px !important;
        vertical-align: middle !important;
    }
}